* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 1800px;
    background: #000000;
}

.container .card {
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
    width: 600px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.container .card img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}